@charset "utf-8";

html, body {
  font-size: 20px;
  font-family: -apple-system, BlinkMacSystemFont, "Pingfang SC", "Helvetica Neue", Arial, "Microsoft Yahei", "WenQuanYi Micro Hei", sans-serif !important;
}

a {
  cursor: pointer;
}

.color-green {
  color: #09bb07;
}

.title_ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.border-1px-r {
  border-right: 1px solid #fff;
}

.basefont {
  color: #000;
  font-size: .4rem;
}

.overwrite-title-demo {
  font-size: .7rem;
  line-height: 46px;
  text-align: center;
}

.header {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 100;
  border-bottom: .1rem solid #DF734B;
}

/* .fotter {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 100;
  color: #000;
} */

.vux-header, .vux-header-left, .vux-header-title, .vux-header-right {
  color: #DF734B !important;
  margin: 0 !important;
}

.vux-header {
  background: #F8F8F8 !important;
}

/* .vux-header-left {
  left: 30px !important;
} */

.vux-header-title {
  font-family: "Pingfang SC" !important;
  font-size: 2rem;
  font-weight: normal !important;
  color: #DF734B !important;
}

.left-arrow:before {
  border-left: 1px solid #DF734B !important;
  border-top: 1px solid #DF734B !important;
}

.weui-cells__title {
  font-family: "Pingfang SC" !important;
  font-weight: 500 !important;
  font-size: 1rem !important;
  color: #333333 !important;
}

.weui-actionsheet__cell {
  font-size: .7rem !important;
}

.weui-dialog__title {
  font-size: .8rem !important;
  font-weight: bold !important;
}

.weui-dialog__bd {
  font-size: .7rem !important;
  text-align: justify !important;
}

.weui-dialog__ft {
  font-size: .8rem !important;
  color: #1C74D9 !important;
  font-weight: bold;
}

.weui-dialog__ft a {
  color: #1C74D9 !important;
}

.weui-cells {
  margin-top: 0 !important;
  font-size: .9rem !important;
}

.weui-cell:before {
  right: .75rem !important;
  border-top: 2px solid #E0E0E0 !important;
}

.weui-cells:before {
  border-top: 2px solid #E0E0E0 !important;
}

.weui-cells:after {
  border-bottom: 2px solid #E0E0E0 !important;
}

.vux-timeline {
  padding-left: 2rem !important;
}

.vux-timeline-item-color {
  background-color: #EB7C42 !important;
}

.vux-timeline-item-head-first {
  width: 10px !important;
  height: 10px !important;
  left: 0 !important;
}

.vux-timeline-item-tail {
  background-color: #E1E2DC !important;
}

.vux-timeline-item-content {
  position: relative !important;
}

.vux-number-selector svg {
  fill: #A1A1A1 !important;
}

/* 订单支付页面的到店时间插件样式 FillOrder.vue */
.fill-order .content .weui-cell {
  padding: 0 !important;
  display: inline-block !important;
}

/* .content .weui-cell__ft {
  color: #DB905C !important;
} */

.fill-order .content .weui-cell_access .weui-cell__ft:after {
  border: none !important;
}

.fill-order .tip .weui-cells {
  background-color: rgba(255,255,255,0) !important;
}

.order-pay .weui-panel:before,
.order-pay .weui-cells:before {
  border-top: none !important;
}

.order-info .weui-panel:before,
.order-info .weui-cells:before {
  border-top: none !important;
}

.order-pay .weui-panel:after,
.order-pay .weui-cells:after {
  border-bottom: none !important;
}

.order-info .weui-panel:before,
.order-info .weui-cells:before {
  border-bottom: none !important;
}

.order-info .footer .weui-cells {
  background-color: inherit !important;
}

.order-info-dialog .weui-dialog__hd {
  text-align: left !important;
}

.order-info .weui-cell {
  min-height: 2rem;
  padding: 0 .7rem;
}

.order-info .weui-cell .title {
  padding: .4rem 0;
}




